<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.freewebheaders.com/wp-content/gallery/wildlife/wild-predator-lioness-website-header.jpg);">
  <div class="container">
    <a class="btn btn-flat" href="#">Search</a>
  </div>
</div>
