html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
  background-color: #202a34;
}
.content-inside {
  padding: 20px;
  padding-bottom: 90px;
}

.light-bckgrnd {
  background-color: #eee;
  margin: auto 8%;
  padding: 2rem auto;
}

.h-100 {
  height: 100vh !important;
}
