.btn-grey-pill {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px;
  background-color: darkslategrey;
  color: white;
  transition: background-color 0.3s ease;
  border-style: none;
  border-radius: 50px;
  border: 3px solid #fff;
}

.btn-grey-pill:hover {
  background-color: #fe5f75;
  color: white;
  transition: 1s ease;
  border-radius: 50px;
}


.custom-btn {
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none;
  font-weight: 500;
}

.btn-dark-blue {
  box-sizing: border-box;
  color: white;
  display: inline-block;
  margin-right: 1rem;
  z-index: 1;
  background-color: #fc9842;
  background-image: linear-gradient(45deg, #fc9842 0%, #fe5f75 74%);
  border-top: 2px solid #fc9842 ;
}

.btn-dark-blue:after {
  background-color: rgb(33, 37, 41);
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease;
}

.btn-dark-blue:hover {
  border-top-color: #fff;
}

.btn-dark-blue:hover:after {
  top: 0;
  bottom: auto;
  height: 100%;
}
.btn-dark-blue:active {
  top: 2px;
}
