.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  background-color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.card-category a {
  color: #333;
}

.card-display {
  height: 200px;
  width: 290px;
  background-position: top;
  background-size: cover;
}
