.div {
  text-align: center;
  min-height: 80vh;
  padding: 50px;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9d628957-180c-4aab-8f3e-39274f1f8fbc/dg1khcm-dd02f3e8-b4fa-420e-a354-36d2e85453cb.jpg/v1/fill/w_894,h_894,q_70,strp/kangaroo__by_gamerplaystation8_dg1khcm-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2ZcLzlkNjI4OTU3LTE4MGMtNGFhYi04ZjNlLTM5Mjc0ZjFmOGZiY1wvZGcxa2hjbS1kZDAyZjNlOC1iNGZhLTQyMGUtYTM1NC0zNmQyZTg1NDUzY2IuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.VFkEWyMZwkQvALPrZtiU24YCfh4uun31gsS00XHLwUA)
}

.listing-new-form {
  border-radius: 10px;
  padding: 15px;
  margin: 0px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  background: #fff;
  text-align: center;
  max-width: 400px;
  border: 5px solid #fe5f75;
}

.title-white {
  padding-bottom: 0px;
  color: #fff;
}
