*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footer {
  height: 90px;
  margin-top: -180px;
}

.footerContainer{
  width: 100%;
  padding: 30px 20px 20px;
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
  font-family: 'Poppins', sans-serif;
}


.socialIcons{
  justify-content: center;
  text-align: center;
}

.socialIcons a{
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
}
.socialIcons i{
  height: 40px;
  width: 40px;
  font-size: 30px;
  color: #ffbec6;
  display: inline-block;
}
.socialIcons a > i:hover {
  transform: translateY(-10px);
  transition: 1s ease;
  color: #fff;
}

.footerBottom{
  padding: 8px;
  justify-content: center;
  display: flex;
  color: white;
  background-color: #191927;
  background-image: linear-gradient(315deg, #191927 0%, darkslategray 74%);
  font-family: 'Poppins', sans-serif;
}

.footerBottom a:hover{
  opacity: 1;
}
